<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </div>

  <div class="field">
    <%= f.label :fromrole %>
    <%= f.select :fromrole_id, Role.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="field">
    <%= f.label :forrole %>
    <%= f.select :forrole_id, Role.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
