<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :from_member %>
    <%= f.select :from_member_id, Member.all.collect {|m| [ m.email, m.id ] } %>
  </div>

  <div class="field">
    <%= f.label :for_member %>
    <%= f.select :for_member_id, Member.all.collect {|m| [ m.email, m.id ] } %>
  </div>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
