<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  This is a review from: <%= @review.member.simple_name %> </br>
  From the team: <%= @review.member.team.name %> </br >
  Last update at: <%= @review.updated_at %> </br >
  There are <%= @review.answers.size %> Questions in total.</br ></br ></br >

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% @sorted_answers.each do |id, answers| %>
        <li> 
            <%=raw '<a href="#' + id.to_s + '" data-toggle="tab">' %>
            <%= Member.find(id).simple_name %>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @sorted_answers.each do |id, answers| %>
        <%=raw '<div id="' + id.to_s + '" class="tab-pane active">' %>
          <%= f.fields_for :answers, answers do |builder| %>
            <div class="field">
              <%= builder.text_field :for_member, :disabled => true, :size => 35 %>
              <%= builder.text_field :question, :disabled => true, :size => 45%>
              <%= builder.select :text, ['Sehr zutreffend', 'Eher zutreffend', 'Ein wenig zutreffend', 'Eher nicht zutreffend' ], :include_blank => true %>
            </div>
          <% end %>
        </div> <!-- tab-pane -->
      <% end %>
    </div> <!-- tab-content -->
  </div> <!-- tabbable -->


  <div class="btn">
    <%= f.submit %>
  </div>
<% end %>
